
<div *ngIf="receiver">
    Conversation avec: {{receiver.firstname}} {{receiver.lastname}}
</div>

<ng-container *ngFor="let message of messages">
    <div
    class="flex"
    [class.flex-row]="+message.sender === receiver.id"
    [class.flex-row-reverse]="+message.sender !== receiver.id">
        <div class="flex flex-col">
            <span>{{message.content}}</span>
            <span>{{ message.sentDate | date: 'dd/MM/yyyy HH:mm'  }}</span>
        </div>

    </div>
</ng-container>

<form
*ngIf="form"
class="flex"
[formGroup]="form"
(ngSubmit)="onClickSendMessage()">

    <input 
    formControlName="content"
    type="text"
    placeholder="Entrez votre message">

    <button
    [disabled]="form.invalid"
    type="submit">Envoyer
    </button>

</form>